body {
  margin: 0;
  font-family: "Source Code Pro", "Ubuntu Mono", "Menlo", "DejaVu Sans Mono",
    "Cascadia Code", "Consolas";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", "Ubuntu Mono", "Menlo", "DejaVu Sans Mono",
    "Cascadia Code", "Consolas";
}
